# Ignore node modules (React)
frontend/node_modules/

# Ignore build/target folders
frontend/dist/
backend/target/

# OS and IDE files
.DS_Store
*.log

# Maven/Gradle build artifacts
target/
*.class
# IntelliJ / STS / VSCode etc
.idea/
.vscode/
*.iml

# Env files
*.env
backend/.env
frontend/.env

# Java / Maven
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
